In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Clyde River,CA,2022-01-05 05:46:25,70.4692,-68.5914,-0.17,92,99,31.07
1,1,Butaritari,KI,2022-01-05 05:47:57,3.0707,172.7902,82.47,65,100,9.62
2,2,Waipawa,NZ,2022-01-05 05:47:57,-41.4122,175.5153,65.93,79,98,6.98
3,3,Bredasdorp,ZA,2022-01-05 05:47:58,-34.5322,20.0403,68.29,63,0,9.22
4,4,Rikitea,PF,2022-01-05 05:47:58,-23.1203,-134.9692,75.65,73,100,5.39

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2022-01-05 05:47:57,3.0707,172.7902,82.47,65,100,9.62
4,4,Rikitea,PF,2022-01-05 05:47:58,-23.1203,-134.9692,75.65,73,100,5.39
18,18,Souillac,MU,2022-01-05 05:48:05,-20.5167,57.5167,84.36,74,40,9.22
25,25,Francistown,BW,2022-01-05 05:48:08,-21.1700,27.5079,78.15,57,100,8.41
26,26,Lasem,ID,2022-01-05 05:48:09,-6.6922,111.4527,85.14,67,92,5.97
28,28,Dicabisagan,PH,2022-01-05 05:48:10,17.0818,122.4157,77.07,75,90,7.54
34,34,Avarua,CK,2022-01-05 05:48:13,-21.2078,-159.7750,77.05,88,90,8.05
35,35,Lhokseumawe,ID,2022-01-05 05:48:13,5.1801,97.1507,80.51,80,44,4.88
40,40,Isangel,VU,2022-01-05 05:48:15,-19.5500,169.2667,84.31,84,75,6.91
41,41,San Policarpo,PH,2022-01-05 05:48:16,12.1791,125.5072,78.82,75,77,17.49

In [18]:
# Determine if there are any null values.
preferred_cities_df.count()

City_ID       127
City          127
Country       127
Date          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1      Butaritari      KI     82.47   3.0707  172.7902
4         Rikitea      PF     75.65 -23.1203 -134.9692
18       Souillac      MU     84.36 -20.5167   57.5167
25    Francistown      BW     78.15 -21.1700   27.5079
26          Lasem      ID     85.14  -6.6922  111.4527
28    Dicabisagan      PH     77.07  17.0818  122.4157
34         Avarua      CK     77.05 -21.2078 -159.7750
35    Lhokseumawe      ID     80.51   5.1801   97.1507
40        Isangel      VU     84.31 -19.5500  169.2667
41  San Policarpo      PH     78.82  12.1791  125.5072

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,82.47,3.0707,172.7902,Isles Sunset Lodge
4,Rikitea,PF,75.65,-23.1203,-134.9692,People ThankYou
18,Souillac,MU,84.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
25,Francistown,BW,78.15,-21.1700,27.5079,Budget House
26,Lasem,ID,85.14,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
28,Dicabisagan,PH,77.07,17.0818,122.4157,Nancy Montanes Bernardo
34,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
35,Lhokseumawe,ID,80.51,5.1801,97.1507,OYO 3278 Penginapan Alfajri
40,Isangel,VU,84.31,-19.5500,169.2667,Tanna Lodge
41,San Policarpo,PH,78.82,12.1791,125.5072,Agapita M. Nicart

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))